*{
    margin: 0;
    padding: 0;
}

.nav-container{
    grid-area: nav-container;
    height: 12vh;
    background-color: #677136;
}

.logo-container{
    grid-area: logo-container;
    height: 12vh;
    width: 20vw;
}
.dpg-logo{
    width: 50px;
    margin: 10px;
    padding: 10px;
}

.menu-container{
    grid-area: menu-container;
    width: 84vw;
}

.ul-menu{
    list-style: none;
}

.nav-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "logo-container menu-container";
}